<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Sale</title>
    <style>
    body {
        background-color: darkolivegreen;
     
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .centered-text {
        color: white;
        text-align: center;
    }
    
    </style>
</head>
<body>
    <section>
    <div class="centered-text">
    <h1>Your request has been processed successfully!</h1>
</div>
</section>
</body>
</html>
